.btn {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	padding: 0.8rem 2rem;
	border-radius: 0;
	color: rgba(255,255,255,0.65);
	background: transparent;
	border: 1px solid #434343;
	cursor: pointer;
	min-width: 10rem;
	margin: 1rem;
	transition: 0.3s ease;
}

.btn.big {
    font-size: 2.4rem;
    padding: 0.8rem 4rem;
}

.btn.small {
    font-size: 1.4rem;
}

.btn.primary {
	color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}

.btn.primary:hover,
.btn.primary:active,
.btn.primary:focus {
	color: var(--white);
    background: var(--pirmaryHover);
	border-color: var(--pirmaryHover);
	outline: none
}

.btn.primary:active {
	background: var(--pirmaryFocus);
}

.btn.secondary:hover,
.btn.secondary:active,
.btn.secondary:focus {
	color: var(--pirmaryHover);
    border-color: var(--pirmaryHover);
	outline: none
}

.btn.secondary:active {
	color: var(--pirmaryFocus);
	 border-color: var(--pirmaryFocus);
}

.btn[disabled],
.btn[disabled].primary:hover,
.btn[disabled].primary:active,
.btn[disabled].primary:focus {
	color: #777676;
	background: #a2a5a7;
	border-color: #a2a5a7;
}