.progressSvg {
	display: block;
	margin: 2rem auto;
	max-width: 100%;
}

.circleBg {
	fill: none;
}

.circle {
	fill: none;
	transition: all 0.2s ease;
    transform-origin: center;
}
.progressNumber {
	font-size: 4rem;
	text-anchor: middle;
    dominant-baseline: middle;
	fill: var(--white);
}
