:root {
	font-size: 62.5%;
	--white: #ffffff;
	--black: #141526;
	--primary:#0ebffd;
	--pirmaryHover:#00a0d8;
	--pirmaryFocus:#0678a0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #141526;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
